<h5>{{matric}} By Customers</h5>
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Customer</th>
      <th scope="col">Metric</th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <td>3M</td>
      <td>3.7</td>
    </tr>
    <tr >
      <td>Acco</td>
      <td>9.4</td>
    </tr>
    <tr >
      <td>Acme</td>
      <td>6.1</td>
    </tr>
    <tr >
      <td>Avery</td>
      <td>42.8</td>
    </tr>
    <tr >
      <td>Belkin</td>
      <td>11.5</td>
    </tr>
    <tr >
      <td>Boaton</td>
      <td>8.1</td>
    </tr>
    <tr >
      <td>Canon</td>
      <td>11.1</td>
    </tr>
    <tr >
      <td>Eidon</td>
      <td>20.5</td>
    </tr>
    <!-- <tr >
      <td>Epson</td>
      <td>4.0</td>
    </tr>
    <tr >
      <td>Fellowes</td>
      <td>22.9</td>
    </tr>
    <tr >
      <td>Hon</td>
      <td>16.8</td>
    </tr>
    <tr >
      <td>Newell</td>
      <td>20.5</td>
    </tr>
    <tr >
      <td>Sony</td>
      <td>0.9</td>
    </tr>
    <tr >
      <td>Staples</td>
      <td>2.5</td>
    </tr>
    <tr >
      <td>Wilson Jones</td>
      <td>9.8</td>
    </tr>
    <tr >
      <td>Xerox</td>
      <td>75.9</td>
    </tr>
    <tr >
      <td>Other</td>
      <td>568.0</td>
    </tr> -->
    </tbody>
  </table>