.sticky {
    position: fixed;
    top: 10px;
    z-index: 999;
    display: block;
    // background-color: #a0b9f0;
    width: 15%;
}

.headerSticky {
    position: fixed;
    top: 60px;
    z-index: 999;
    display: block;
    // background-color: #a0b9f0;
    width: 15%;
}

table th {
    // position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
    position: sticky;
    top: 0;
    z-index: 5;
    background: #fff;
}