<h5>Discount By Supplier</h5>
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Supplier</th>
      <th scope="col">Metric</th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <td>3M</td>
      <td>3.7</td>
    </tr>
    <tr >
      <td>3M</td>
      <td>3.7</td>
    </tr>
    <tr >
      <td>3M</td>
      <td>3.7</td>
    </tr>
    <tr >
      <td>3M</td>
      <td>3.7</td>
    </tr>
    <tr >
      <td>3M</td>
      <td>3.7</td>
    </tr>
    <tr >
      <td>3M</td>
      <td>3.7</td>
    </tr>
    <tr >
      <td>3M</td>
      <td>3.7</td>
    </tr>
    <tr >
      <td>3M</td>
      <td>3.7</td>
    </tr>
    </tbody>
  </table>