<highcharts-chart 
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  style="width: 98%; height: 300px; display: block;"
></highcharts-chart>
<div class="row">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div style="width: 170px;">
  <h6 style="text-align: center;">Technology</h6>
  <hr style="width: 150px; border: 1px solid;">
</div>
<div style="width: 170px;">
  <h6 style="text-align: center;">Furniture</h6>
  <hr style="width: 140px; border: 1px solid;">
</div>&nbsp;
<div style="width: 300px;">
  <h6 style="text-align: center;">Office Supply</h6>
  <hr style="width: 312px; border: 1px solid;">
</div>
</div>

<div id='container'></div>
